soap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8001" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8001">


    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost:8001">
            <xsd:element name="Person">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string" />
                        <xsd:element name="ip" type="xsd:string" />
                        <xsd:element name="mail" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PersonsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:Person" maxOccurs="unbounded" minOccurs="2" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <xsd:element name="PersonResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string" />
                        <xsd:element name="ip" type="xsd:string" />
                        <xsd:element name="mail" type="xsd:string" />
                        <xsd:element name="gender" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="PeronsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:PersonResponse" maxOccurs="unbounded" minOccurs="2" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="GetPeopleRequest">
        <wsdl:part element="tns:PersonsRequest" name="parameters" />
    </wsdl:message>
    <wsdl:message name="GetPeopleResponse">
        <wsdl:part element="tns:PersonResponse" name="parameters" />
    </wsdl:message>


    <wsdl:portType name="NameService">
        <wsdl:operation name="GetName">
            <wsdl:input message="tns:GetPeopleRequest" />
            <wsdl:output message="tns:GetPeopleResponse" />
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="NameServiceSOAP" type="tns:NameService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="GetName">
            <soap:operation soapAction="GetName" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="NameService">
        <wsdl:port name="NameServiceSOAP" binding="tns:NameServiceSOAP">
            <soap:address location="http://localhost:8001/wsdl" />
        </wsdl:port>
    </wsdl:service>


</wsdl:definitions>